body {
    background: #eeeeee;
    font-family: Roboto;
}
.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.box {
    width: 250px;
    height: 400px;
    position: absolute;
    top: 20%;
    border: 4px solid #6e5bf8;
    border-radius: 15px;
}
.app-name {
  text-align: center;
  color: #6e5bf8;
}
.control {
    position: absolute;
    top: 80%;
    left: 40%;
}
.js-iniciar, .js-pausar {
  width: 48px;
  height: 48px;
  background-color: #6e5bf8;
  background-repeat: no-repeat;
  background-size: 48px;
  border-radius: 24px;
}
.js-iniciar {
    background-image: url('./images/Play.png');
}
.js-pausar {
    background-image: url('./images/Pausar.png');
}
.progress {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.progress:before {
    content: "";
    position: absolute;
    width: 180px;
    height: 180px;
    background: #eeeeee;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
  }
.progress .precent {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: #214c8b;
  }
.progress .circle {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(135deg, #5efce8 10%, #736efe 100%);
    -webkit-clip-path: polygon(
      0% 100%,
      0% 0%,
      100% 0%,
      50% 50%,
      100% 0%,
      100% 100%
    );
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 50% 50%, 100% 0%, 100% 100%);
    animation-name: loading;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0, 0.1, 0.9, 0.81);
    animation-play-state: paused;
    animation-direction: reverse;
    animation-delay: 5s;
    border-radius: 100%;
  }
@keyframes loading {
    0% {
      -webkit-clip-path: polygon(
        0% 100%,
        0% 0%,
        100% 0%,
        50% 50%,
        100% 0%,
        100% 100%
      );
      clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 50% 50%, 100% 0%, 100% 100%);
    }
    25% {
      -webkit-clip-path: polygon(
        0% 100%,
        0% 0%,
        100% 0%,
        50% 50%,
        100% 100%,
        100% 100%
      );
      clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 50% 50%, 100% 100%, 100% 100%);
    }
    50% {
      -webkit-clip-path: polygon(
        0% 100%,
        0% 0%,
        100% 0%,
        50% 50%,
        0% 100%,
        0% 100%
      );
      clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 50% 50%, 0% 100%, 0% 100%);
    }
    75% {
      -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 50% 50%, 0% 0%, 0% 0%);
      clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 50% 50%, 0% 0%, 0% 0%);
    }
    100% {
      -webkit-clip-path: polygon(
        0% 100%,
        0% 0%,
        100% 0%,
        50% 50%,
        100% 0%,
        0% 0%
      );
      clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 50% 50%, 100% 0%, 0% 0%);
    }
}